@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.dynapuff-font {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background: linear-gradient(135deg, rgb(243, 146, 137), rgb(251, 192, 145), rgb(150, 100, 0));
    font-family: "DynaPuff", system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #441a01;
}

.container {
    background: rgba(255, 149, 0, 0.116);
    padding: 30px;
    border: 1px solid #792c007b;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(95, 28, 10, 0.381);
    text-align: center;
    max-width: 400px;
    width: 70%;
}

.text {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c36536;
    border-radius: 10px;
}

button {
    font-family: "DynaPuff", system-ui;
    background-color: #451a00;
    color: rgb(255, 208, 173);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #7f2d00;
}

.reset, .download {
    background-color: #451a00;
    color: rgb(255, 208, 173);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
}

.reset:hover {
    background-color: #7f2d00;
}

.error {
    color: rgb(162, 3, 3);
    margin-top: 10px;
}

img {
    padding: 25px;
}

.imagen {
    margin-left: 65px;
    max-width: 70%;
    background-color: #ffffff20;
    border-radius: 40px;   
}